<div ng-controller="QuizController as quiz"
  style="width:100%;height:100%;background:#c0c0c0">
  <div style="text-align: center;padding-top: 20%;" ng-if="quiz.a">
    <div>
      <p>Option A is correct answer, choose it will skip minutes.</p>
      <p>Option B is wrong answer, choose it will keep playing.</p>
    </div>
    <a href="" ng-click="quiz.b=true;quiz.a=false;">Next one</a>
  </div>

  <div ng-if="quiz.b">
    <div style="text-align: center;padding-top: 20%;">
      页面内容可以随意添加和布置
    </div>
    <a href="" ng-click="quiz.b=false;quiz.a=true">Previous</a>
    <a href="" ng-click="quiz.play()" style="float:right">Finish</a>
  </div>
</div>
