<div>
  <videogular vg-cue-points="config.cuePoints" vg-player-ready="onPlayerReady($API)">
    <div class="quiz-container">
      <span class="quiz-container-close">
        <a href ng-click="hideOverlay()">Close</a>
      </span>
      <div class="quiz-problem" ng-if="templateUrl" ng-include="templateUrl">
      </div>
    </div>

    <vg-media vg-src="config.sources"></vg-media>
    <vg-controls>
      <vg-play-pause-button></vg-play-pause-button>
      <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>

      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <hy-cuepoint cuepoints="cuepoints"></hy-cuepoint>
      </vg-scrub-bar>

      <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>

      <vg-volume>
        <vg-mute-button></vg-mute-button>
        <vg-volume-bar></vg-volume-bar>
      </vg-volume>

      <vg-fullscreen-button></vg-fullscreen-button>
    </vg-controls>
  </videogular>
</div>
