<div class="hy-controls-play-control" ng-click="playControl()" ng-class="playControlClass"></div>

<div class='hy-time-box'>
  <span>{{(currentTime | date:'mm:ss') || '00:00'}}</span> /
  <span>{{(totalTime | date:'mm:ss') || '00:00'}}</span>
</div>

<div class='hy-volume'>
	<i ng-click="toggleMuted()"></i>
	<p class='hy-volume-box'>
		<span class='hy-volume-1' style='width:50%;'></span>
		<span class='hy-volume-2' style='left:50%;'></span>
	</p>
	<p ng-click="toggleFullScreen()" class='hy-pullscreen'></p>
</div>

<div class="hy-controls-progress" role="slider" ng-mousedown="seek($event)">
  <div hy-load-progress class="hy-load-progress"></div>
  <div hy-play-progress class="hy-play-progress"></div>
</div>

