.play {
  background-image: url('./images/play.png');
  background-color: transparent;
  background-size: 100%;
  border: none;
  width: 32px;
  height: 32px;
}

.pause {
  background-image: url('./images/pause.png');
  background-color: transparent;
  background-size: 100%;
  border: none;
  width: 32px;
  height: 32px;
}

.enter {
  background-image: url('./images/enter.png');
  background-color: transparent;
  background-size: 100%;
  border: none;
  width: 32px;
  height: 32px;
}

.exit {
  background-image: url('./images/exit.png');
  background-color: transparent;
  background-size: 100%;
  border: none;
  width: 32px;
  height: 32px;
}
