.container {
  width: 450px;
  height: 300px;
  position: relative;
}

.hydeo {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.control-bar {
  /* Positioning */
  position: absolute;
  bottom: 0;
  z-index: 3;

  /* Box Model */
  width: 100%;
  height: 3.0em;
  padding: 2px;
  box-sizing: border-box;

  /* Visual */
  background: black;
  color: white;
  display: block;
  opacity: 1;
}

video {
  width: 100%;
  height: 100%;
}

.btn {
  background-color: transparent;
  background-size: 100%;
  border: none;
  width: 32px;
  height: 32px;
  margin: .5em;
  outline: none;
}

.play {
  @extend .btn;
  background-image: url("./images/play.png");
}

.pause {
  @extend .btn;
  background-image: url("./images/pause.png");
}

.enter {
  @extend .btn;
  background-image: url("./images/enter.png");
}

.exit {
  @extend .btn;
  background-image: url("./images/exit.png");
}

.sound {
  @extend .btn;
  background-image: url("./images/sound.png");
}

.muted {
  @extend .btn;
  background-image: url("./images/muted.png");
}

.progress-bar {
  width: auto;
  height: 1em;
  transition: all .4s;
  background: red;
  opacity: .9;
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.9);
}

.time-point {
  position: absolute;
  top: 0;
  height: 100%;
  width: .5em;
  background-color: #000;
}

.load-progress {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 0;
}

.play-progress {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
}
